{"tautulli":{"url":"http://HOST:PORT/URL_BASE/api/v2",
             "key":"key"},
 "sonarr":{"url":"http://HOST:PORT/URL_BASE/",
           "key":"key"},
 "sabnzbd":{"url":"http://HOST:PORT/URL_BASE/api",
            "key":"key"}}