{"tautulli":{"url":"http://HOST:PORT/URL_BASE/api/v2",
             "key":"key",
             "notifier":-1},
 "sonarr":{"url":"http://HOST:PORT/URL_BASE/",
           "key":"key",
           "cache_time":6},
 "sabnzbd":{"url":"http://HOST:PORT/URL_BASE/api",
            "key":"key"},
 "days_to_check":2,
 "episodes_to_check":5,
 "skip_specials": true,
 "search_cache":48}